<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <b>Portfolio do Alysson</b>
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="../views/Projects.html">Projetos</a>
          <a href="../views/About.html">Sobre mim</a>
          <a href="../views/Contacts.html">Contatos</a>
        </div>
      </div>
    


      <div class="projects">
        <div class="row">
        <div class="col-md-6 col-xs-12">
        </br>
          <h2>Projetos</h2>
          <a class="body-text">Desde quanto eu conheci a programação eu desenvolvi vários "Hello World", brincadeiras a parte aqui está alguns de meus projetos:</a><br><br><br>
          <b class="body-text" style="font-size: 20px;">Calculadora de caixas no palete.</b><br><br>
          <img src="../img/project01.png" alt="logo linkedin" class="img-project1"><br><br>
          <a class="body-text">Esse projeto estava elaborando para a empresa que trabalhava, consistia em calcular a quantidade de itens no pedido, e dizer ao usúario a quantidade de caixas que seria utilizada (Cada caixa era possivel colocar 24 unidades de um determinado item).</a><br>
          <a class="body-text">Infelizmente não trabalho mais lá e o projeto acabou ficando apenas com uma prévia, sem finalizar.</a><br><br><br><br>
          
          <b class="body-text" style="font-size: 20px;">Menu para um restaurante</b><br><br>
          <video src="../img/project02.mp4" class="img-project2" autoplay loop muted></video><br><br>
          <a class="body-text">Estou desenvolvendo esse cardápio digital para um restaurante localizado no centro de Araraquara, fui lá e percebi que o cardápio digital deles não se adequava muito bem aos conceitos de UI/UX. </a><br>
          <a class="body-text">Sugeri a ideia para um dos proprietários e logo de cara ele topou. Tive que aprender um pouco de JavaScript para fazer o Navbar responsivo.</a><br><br>
          <a class="body-text">Atualmente estou atualizando esse projeto para div's invés de utilizar table's, mas logo estará concluído.</s></a><br><br>

        </div>
        </div>
        <br><br><br>
</body>
</html>